/*флекс контейнер, длявыравнивания карточек контактов, wrap для переноса карточки, */
/*когда не помещается на экране*/
.flex-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*прижимает инпуты к левому краю и задает им одинаковую ширину*/
.titles{
    width: 250px;
    float: left;
}
/*Стили блока с карточками контактов*/
.main_content-information{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin:10px;
    padding: 10px;
    height:440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 30%;
}
/*Стили картинок в карточках с контактами*/
.main_content-information img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
}
/*Стили блока, где расположена форма обратной связи. ширина указана, что бы*/
/*корректно отображалось на телефоне с шириной экрана 320*/
.main_content-form{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin:10px;
    padding: 10px;
    height:550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
}
/*Стили для инпутов в форме обратной связи*/
.main_content-form input,textarea{
    border-radius: 5px;
    width: 97%;
    font-size: 20px;
}
/*размеры для кнопки submit*/
#submit{
    height: 50px;
    width: 200px;
}
/*выравнивает заголовки по центру в карточках и форме*/
.main_content-form h2{
    text-align: center;
}