h2{
    text-align: center;
}
.main_content-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main_content-box-card{
    width: 40%;
    margin: 5px;
    border: 1px solid #7a7a7a;
    min-width: 270px;
    padding: 12px;
    font-size: 18px;
    box-shadow: -1px 1px 29px -5px rgb(140, 117, 85);
    border-radius: 5px;
    background-color: #f8f5f3;
    position: relative;
}
.card-text{

}
.card-picture{
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.picture_1{
    background-image: url(../img/1.jpg);
}
.picture_2{
    background-image: url(../img/2.jpg);
}
.picture_3{
    background-image: url(../img/3.jpg);
}
.picture_4{
    background-image: url(../img/4.jpg);
}
.card-picture:hover div{
    opacity: 0.7;
}
.card-picture-overlay{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    z-index: 1;
}
.card-picture-overlay:hover{
    cursor: pointer;
}
.information_section{
    padding: 15px 7px 30px;
    background: linear-gradient(to left, #f1f1f1, #f9f7eb, #f1f1f1);
}
@media (max-width: 643px) {
    .main_content-box-card{
        min-width: 85%;
    }
}