body{
    margin: 0;
    height: 100%;

}

#canvas{
    display: block;
    width: 100vw;
    height: 100vh;
}
a{
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px 12px;
    background-color: #2a8bd7;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    color: #d8d8d8;
}
span{
    font-size: 26px;
    margin: 0 10px;
}
a:hover{
    background-color: #2475b7;
    color: #FFFFFF;
}
.cap{
    min-height: 360px;
    position: absolute;
    left: 120px;
    top:270px;
    transition: 1s;
}
.trash:hover .cap{
    transform: rotateZ(-70deg);
    left: 60px;
    top: 60px;
}
.bucket{
    position: absolute;
    left: 100px;
    top: 370px;
}
.img-1{
    position: absolute;
    top: 600px;
    left: 700px;
    width: 200px;
}
.img-2{
    position: absolute;
    top: 150px;
    left: 750px;
    width: 200px;
}
.img-3{
    position: absolute;
    top: 440px;
    left: 620px;
    width: 200px;
}
.img-4{
    position: absolute;
    top: 340px;
    left: 890px;
    width: 200px;
}
.img-5{
    position: absolute;
    top: 120px;
    left: 930px;
    width: 200px;
}
.img-6{
    position: absolute;
    top: 190px;
    left: 500px;
    width: 200px;
}
.img-7{
    position: absolute;
    top: 560px;
    left: 960px;
    width: 200px;
}
.img-8{
    position: absolute;
    top: 700px;
    left: 550px;
    width: 200px;
}