@font-face {
    font-family: Ranchers-Regular;
    src: url("../fonts/Ranchers-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
}
body{
    margin: 0;
    font-family: Ranchers-Regular, sans-serif;
    letter-spacing: 4px;
}
main{
    background: linear-gradient(45deg, #5a9af6, #ab56d5, #fff888);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
    font-size: 55px;
    text-align: center;
    padding: 10px;
}
.list{
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 70%;
    padding: 10px;
}
.list-information{
    display: flex;
    justify-content: center;
    width: 100%;
}
.list .list-information div{
    background-color: #e8e8e8;
    min-height: 30%;
    margin: 0 5px;
    box-shadow: 0px 0px 15px 1px rgba(59, 72, 82, 0.88) inset;
    border-radius: 15px;
    padding: 5px 12px;
}
.list-first{
    width: 30%;
}
.list-second{
    width: 15%;
}
.list-third{
    width: 55%;
}
.list-fourth, .list-fifth{
    background-color: #e8e8e8;
    min-height: 30%;
    margin: 5px 5px;
    box-shadow: 0 0 15px 1px rgba(59, 72, 82, 0.88) inset;
    border-radius: 5px;
    padding: 5px 12px;
}
label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.priority{
    height: 30px;
    background-color: #84bd2b;
    text-align: center;
    border-radius: 5px;
    width: 85%;
    margin: 5px;
    outline: 0;
    max-width: 71%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input:checked + .priority{
    background-color: #e17c02;
}
.checkbox{
    position: fixed;
    opacity: 0;
    width: 100%;
}
.checkbox:hover{
    cursor: pointer;
}
.button-block{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px 18px;
    padding: 5px 18px;
    background-color: #489ef8;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    border-bottom: 2px solid #2163b6;
    transition: 0.4s;
    outline: 0;
}
button:hover{
    background-color: #2163b6;
    cursor: pointer;
    color: #ffffff;
}
input{
    display: block;
    width: 85%;
    margin: 5px;
    outline: 0;
    max-width: 70%;
    font-size: 18px;
    color: #00ff00;
}