/*Задает стили таблице по дефолту*/
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 20px;
}
/*форма на всю ширину страницы*/
form{
    width: 100%;
}
/*отступ для текста, что бы не прилипал к инпутам*/
.span_choose_style{
    margin-right: 20px;
}
/*При наведении на инпут и лэйбл, курсор поинтер*/
input:hover, label:hover{
    cursor: pointer;
}
/*Стили ячейкам */
th{
    border: 1px solid black;
    font-size: 20px;
    background-color: rgba(127, 127, 127, 0.6);
    height: 30px;
}
td{
    text-align: center;
    border: 1px solid black;
}
tr{
    height: 27px;
}
/*при наведении курсора на строку, подсвечивается вся строка*/
.tr:hover{
    box-shadow: 0 0 8px 0 rgb(50, 139, 252) inset;
    cursor: pointer;
}
/*Выравнивание по центру*/
.main_content{
    align-items: center;
}
/*Минимальная ширина столбцов таблицы, нужно для адаптива*/
.td_1{
    min-width: 40px;
}
.td_4{
    width: 130px;
}
.td_5{
    min-width: 50px;
}
.td_6{
    min-width: 70px;
}
/*Стили при чекнутом чекбоксе или включенной радиобаттон*/
#input_style_1:checked ~ table .tr:nth-child(even){
    background-color: rgba(255, 213, 0, 0.1);
}
#input_style_2:checked ~ table .tr{
    font-family: Texturina, sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #83a45d;
}
#input_style_3:checked ~ table .tr{
    font-family: Oswald, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #f0dcc3;
}
#input_style_4:checked ~ .table{
    background-color: #2f2f2f;
    color: white;
}
#input_style_4:checked ~ table .tr td{
    border: 0;
    font-weight: 200;
}
#input_style_4:checked ~ table .th th{
    border: 0;
    font-weight: 200;
    color: #0d64a3;
    background-color: #2f2f2f;
}
#input_style_4:checked ~ table .tr{
    border: 1px solid #ffa400;
}
#input_style_4:checked ~ table .th{
    border: 1px solid #ffa400;
}
/*при достижении размера экрана по ширине 630 пропадают колонки из таблицы со второстепенной информацией*/
@media (max-width: 630px) {
    .td_4{
        display: none;
    }
    .td_5{
        display: none;
    }
    .td_1{
        min-width: 22px;
    }
    th{
        font-size: 16px;
    }
    td{
        font-size: 14px;
    }
}