// variable file
$white: white;
$background: #f1f1f1;
$background_header: rgba(24,24,24,0.9);
$gradient: linear-gradient(to left, #f1f1f1, #f9f7eb, #f1f1f1);
$gradient_2: linear-gradient(#fffbf5, #d3d1bb);
$shadow: -1px 1px 15px -5px rgb(140, 117, 85);
$btn_color: #a5a5a5;
$border_btn: 2px solid #a5a5a5;
$radius_btn:3px;
$flex: flex;
$list: #60412b, #6a3131, #2c3263, #6d6d2e;
$padding: 10px;

// Mixin for flex container
@mixin flex-mix(){
  display: flex;
  justify-content: center;
  align-items: center;
}
// Mixin for flex container with arguments
@mixin flex-mixin($flex, $align, $justify, $direction){
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
//Function for calculated grid-gap
@function gap($n){
  @return $n + 5;
}