@font-face {
    font-family: SquadaOne;
    src: url("../fonts/SquadaOne-Regular.ttf");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ffecd2, #ffffff, #f4deff);
    height: 100vh;
    margin: 0;
}
.container{
    border: 1px solid rgba(1, 1, 1, 0.2);
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(120, 120, 120, 0.3);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
}
.history_btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 10px;
    padding: 5px;
    z-index: 4;
    border: 1px solid rgba(1, 1, 1, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: 0.2s;
    border-radius: 3px;
    background-color: #454545;
    color: #FFFFFF;
}
.history_checkbox{
    display: none;
}
.history_block{
    width: 400px;
    height: 600px;
    background-color: #9f8bb0;
    position: absolute;
    bottom: -600px;
    transition: 0.5s;
    background-color: rgba(120, 120, 120, 0.95);
}
#history_content{
    padding: 35px 5px 5px;
    color: #FFFFFF;
}
.history_checkbox:checked ~ .history_block{
    position: absolute;
    bottom: 0;
}
.history_checkbox:checked + .history_btn{
    color: #f4a944;
}
.output{
    font-family: SquadaOne, sans-serif;
    width: 380px;
    border: 1px solid rgba(1, 1, 1, 0.2);
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 7px;
}
.output_1{
    height: 30px;
    margin: 30px auto 0;
    border-bottom: 0;
    font-size: 22px;
    font-style: italic;
    color: rgba(1, 1, 1, 0.4);
}
.output_2{
    height: 90px;
    margin: 0 auto 5px;
    border-top: 0;
    font-size: 71px;
}
.input{
    width: 380px;
    height: 40px;
    margin: 10px auto 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#_dot:disabled{
    text-decoration: none;
    display: none;
}

.label{
    font-weight: 700;
    color: #353535;
    transition: 0.1s;
    border: 1px solid rgba(1, 1, 1, 0.2);
    min-width: 100px;
    min-height: 40px;
    text-align: center;
    box-shadow: 1px 0 6px 2px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.label:hover{
    cursor: pointer;
    background-color: rgba(254, 254, 254, 0.5);
}
form input{
    display: none;
}
form input:checked+label{
    color: red;
    border: 1px solid red;
    box-shadow: 0 0 18px 3px rgba(0, 0, 0, 0.2) inset;
    background-color: rgba(254, 254, 254, 0.5);
}
.grid_btn{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    margin: 15px auto;
}
.btn{
    min-width: 80px;
    height: 60px;
    border: 1px solid rgba(1, 1, 1, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: 0.2s;
    border-radius: 3px;
}
.btn_big{
    grid-column-start: 2;
    grid-column-end: 4;
}
.btn:focus,.history_btn:focus{
    outline: none;
}
.btn_function{
    background-color: rgb(104, 128, 187);
}
.btn_number{
    background-color: rgba(116, 116, 116, 0.3);;
}
.btn_action{
    background-color: rgb(227, 204, 140);
}
.btn:hover, .history_btn:hover{
    box-shadow: 1px 0 8px 2px rgba(0, 0, 0, 0.6);
    color: #f3f3f3;
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 500px) {
    .container{
        width: 370px;
        height: 560px;
    }
    .output{
        width: 330px;
    }
    .output_1{
        font-size: 14px;
    }
    .output_2{
        font-size: 60px;
    }
    .grid_btn{
        grid-gap: 10px;
    }
    .btn{
        width: 75px;
        height: 55px;
    }
    .input{
        width: 330px;
    }
    .history_btn{
        right: 15px;
    }
}